
.cs_gray_bg{
    background-color: rgba(242, 243, 247, 0.4);
}

.cs_btn.cs_style_1 {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 1.6em;
    color: $white_color;
    background-color: $accent_color;
    outline: none;
    border: none;

    span {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    
}
.cs_social_btns{
    a{
    border: 1px solid #454a53;
     
    &:hover{
        border-color: $accent_color;
        background-color: $accent_color;
    }
}
}

.cs_moving_wrap{
    height: 200px;
    background-color: #17191d;

    &:hover{
        .cs_moving_text{
            animation-play-state: paused;
        }
    }
}
.cs_moving_text{
    animation: side-left 20s linear infinite;   
    > *{
        padding: 10px 20px;
    }
}
@keyframes side-left{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.cs_progressbar.cs_style_1{
    .cs_progress{
        height: 8px;
        background-color: #f6f6f6;
    }
}
.cs_section_shape-1{
    top: 6%;
    right: 4%;
}
.cs_player_btn{
    &::after,
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: rgba($primary_color, 0.5);
    }
    &::before{
        z-index: 0;
        animation: pluse-border 1500ms ease-in-out infinite;
    }
    &::after{
        z-index: 1;
        transition: all 200ms;
    }
    svg{
        z-index: 2;
    }
}

@keyframes pluse-border{
0%{
    transform: translateX(-50%), translateY(-50%), translateZ(0) scale(1);
    opacity: 1;
}
100%{
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
}
}
// Animation
.semi_rotate{
    animation-name: semiRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes semiRotate{
    0%,
    100% {
        transform: rotate(0);
    }
    25%,
    75%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(20deg);
    }
}

.moving-x{
    animation-name: movingX;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes movingX{
    0%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(30px);
    }
}

// rating

.cs_rating{

    &::before{
        content: '\f005\f005\f005\f005\f005';
        font-family: 'Font Awesome 6 Free';
    }

}