.cs_site_header_full_width .container {

    max-width: 100%;
    padding: 0 90px;
}

.cs_site_header {}

.cs_top_header {
    background-color: #18191D;
}

.cs_top_header_in {
    height: 45px;

}

.cs_top_nav {
    li {
        &:not(:last-child) {
            &::after {
                content: '/';
                margin: 0 15px;
                color: $secondery_color;
                position: relative;
                top: 1px;
            }
        }
    }
}

//   ----------------------------------

.cs_site_header.cs_style_1 {
    .cs_main_header {
        background: rgba(24, 25, 29, 0.5);
    }
}

.cs_main_header_in {
    height: 95px;
}

.cs_nav {
    height: 100%;

    .cs_nav_list {
        height: inherit;
        position: relative;

        >li {
            height: inherit;
            margin-left: 50px;

            >a {
                display: inline-flex;
                height: inherit;
                align-items: center;
                position: relative;

            }

            >ul {
               
            }

            &:hover {
               >ul{
                visibility: visible;
                opacity: 1;
               }
            }

            &.menu-item-has-children {
                position: relative;
              > a{
                position: relative;
                &::after{
                    content: '\2b';
                    margin-left: 6px;
                  font-weight: bold;
                 
                }
              }
            }

            ul {
                // display: none;
                position: absolute;
                background-color: #18191d;
                top: calc(100% - 15px);
                left: 0px;
                width: 180px;
                padding: 10px 0;
                z-index: 100;
        opacity: 0;
        visibility: hidden;
        // display: block !important;
        border-radius: 0px 0px 5px 5px;
        // transition: all 0.1s ease;
        border: 1px solid rgba(255, 255, 255, 0.05);
        text-transform: capitalize;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6em;
            }
            li{
               
            }
        }

      

      

    }

}

.cs_header_search_btn {
    transition: all 0.4s ease;
    cursor: pointer;
    color: $white_color;

    &:hover {
        color: $accent_color;
    }
}

.cs_header_search_wrap {
    position: relative;

    >.cs_header_search_form {
        position: absolute;
        box-shadow: 0px 4px 4px rgba(193, 193, 193, 0.25);
        // width: 350px;
        top: 50px;
        right: 0px;
        visibility: hidden;
        opacity: 0;

        input {
            height: 60px;
            width: 310px;
            border-radius: 5px;
            padding-left: 10px;
            outline: none;
            background: #F3F3F3;
            border: 1px solid rgba(62, 62, 62, 0.2);

            &:focus {
                border-color: rgba(62, 62, 62, 0.4);
            }
        }

        .cs_header_search_submit_btn {
            position: absolute;
            border: none;
            color: $border_color;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
        }
    }
}

.cs_header_search_wrap.active {
    .cs_header_search_form {
        visibility: visible;
        opacity: 1;
    }
}