.cs_hero {

    .cs_entity_img {
        display: none;
    }
}
.cs_hero_btn{
    background: $accent_color;
    display: inline-flex;
    flex-wrap: wrap;
    // border-radius: 5px;

   
}
.cs_hero.cs_style_1 {
    height: 100vh;
    min-height: 700px;
    max-height: 900px;
    padding: 190px 160px 50px;
    .cs_swiper_parallax_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.cs_social_btns{
    position: absolute;
    top: 50%;
    left: 90px;
}
.ch_hero_shape_1{
    right: -10px;
    pointer-events: none;
}
.ch_hero_shape_2{
    top: 140px;
    pointer-events: none;
}