.cs_swiper_navigation{
    top: 51%;
    right: 16%;
}
.cs_testimonial_slider{
    .cs_slider_activate{
        width: 63vw
    }
    //  .slickk-listtt{
    //     padding-bottom: 25px;
    //     margin-top: -25px;
    //     padding-top: 25px;
    // }
}