.cs_testimonial_slider{
    gap: 30px;
    .cs_testimonial{
        max-width: 310px;
        
    }
    .cs_testimonial_img{
        width: 75px;
        img{
            margin-top: -20px;
            border: 2px solid $secondery_color;
        }
    }
    .slick-list{
        padding-bottom: 25px;
        margin-top: -30px;
    }
}
